@model Violin.SourceMod.Classes.Include

@{
	ViewBag.Title = Model.IncludeName;
}

<style type="text/css">
    .divSourceCodeTitle {
        font-size: 2.2em;
        margin: 30px 0px;
        border-bottom: 1px solid #ccc;
    }
</style>

<!-- 响应式导航条 -->
<div class="divNavbar">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-header" aria-expanded="false">
					<span class="sr-only">展开</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href=".">SourceMod 函数查询站</a>
			</div>
		</div>
		<div class="collapse navbar-collapse" id="bs-navbar-header">
			<ul class="nav navbar-nav">
				<li><a href="/@Model.IncludeName">@string.Format("{0}.inc", Model.IncludeName)</a></li>
			</ul>
			<hr />
			<ul class="nav navbar-nav">
				<li><a href=".">主页</a></li>
				<li><a href="javascript:void(0)" onclick="FunctionListMenu(true);">文件列表</a></li>
				<li><a href="javascript:void(0)" onclick="FunctionListMenu(true);">函数搜索</a></li>
				<li><a href="/@Model.IncludeName">查看成员</a></li>
			</ul>
		</div>
	</nav>
</div>

<!-- 站点导航 -->
<div class="divTopStatusSlider">
    <ol class="breadcrumb">
        <li><a href="/@Model.IncludeName">@string.Format("{0}.inc", Model.IncludeName)</a></li>
        <li class="active">文件源码</li>
        <li class="pull-right"><a href="/@Model.IncludeName">成员一览</a></li>
    </ol>
</div>
<div class="divSourceCodeTitle">
    @string.Format("{0}.inc", Model.IncludeName)
</div>
<pre class="line-numbers language-cpp" style="font-size: 12px;"><code class="language-cpp">@Model.Content</code></pre>
